################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chamber/Chamber.Web/Content/uploads/a8a7e677-fc67-4554-b337-a5d00122ee25
