@{
    ViewBag.Title = "Piedmont";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    P
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Piedmont Plateau Birding Trail</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <center><img class="img-responsive" src="~/Content/img/birds/pdfPhoto.jpg" style="text-align: center;" alt=""></center>
                <br /><center><a href="@Url.Action("PiedmontMay2016", "File")" class="btn btn-default">Download Newsletter</a></center>
                <br /><hr />
                <div class="row">
                    <div class="col-sm-3">
                        <a href="http://www.facebook.com/piedmontplateaubirdingtrail" target="_blank">
                            <img class="img-responsive" src="~/Content/img/facebook_logo.png" style="text-align: center;" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="http://www.facebook.com/alabamabirdingtrails" target="_blank">
                            <img class="img-responsive" src="~/Content/img/facebook_logo.png" style="text-align: center;" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="http://www.alabamabirdingtrails.com" target="_blank">
                            <img class="img-responsive" src="~/Content/img/birds/AlabamaBirdingTrails-300.jpg" style="text-align: center;" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.flickr.com/photos/piedmontplateau" target="_blank">
                            <img class="img-responsive" src="~/Content/img/logo_flickr.png" style="text-align: center;" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="https://twitter.com/BirdAlabama" target="_blank">
                            <img class="img-responsive" src="~/Content/img/twitter.jpg" style="text-align: center;" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <center><img class="img-responsive" src="~/Content/img/birds/PhotoContest.png" style="text-align: center;" alt=""></center>
                <br /><center><a href="@Url.Action("PiedmontMay2016", "File")" class="btn btn-default">Download Contest Flyer</a></center>

                <br /><br />
            </div>
        </div>
    </div>

</section>

