
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Chamber Calendar</h2>
            </div>
        </div>
    </div>
</section>
<br />
<div class="row">
        <div class="col-sm-12">
            <img style="padding-left: 200px;" src="~/Content/images/underDevCalendar.jpg" />
        </div>
    </div>
@*<div class="row">
    <div class="col-sm-12 col-lg-offset-3">
        <iframe src="#"
                style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>*@