
<div class="col-md-12">
    <p><i class="fa fa-lock"></i> <span style="font-weight: 800;">Add a new role</span></p>
    <div style="border:1px solid #3b5998"></div>
</div>
<div class="col-md-12">
    <br />
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <strong>Please contact: </strong>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                        <a href="https://www.southernstartech.us" target="_blank" alt="Southern Star Technology">
                            <img style="border: none; width: 130px; height:50px;" src="~/Content/img/OfficialLogo.png" />
                        </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>* module currently not available.</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
