<div class="col-md-12">
    <p><i class="fa fa-dashboard"></i> <span style="font-weight: 800;">Role dashboard</span></p>
    <div style="border:1px solid #3b5998"></div>
</div>
<div class="col-md-12">
    <br />
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <strong>Total Users:</strong>
                </td>
                <td>
                    <strong></strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Total Roles:</strong>
                </td>
                <td>
                    <strong>2</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Total Admin Users:</strong>
                </td>
                <td>
                    <strong></strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Total Regular Users:</strong>
                </td>
                <td>
                    <strong></strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>

