<project>
  <settings>
    <setting key="ChamberVersion" value="1.1.0" />
    <setting key="LogFileMaxSizeBytes" value="1000000" />
    <setting key="FileUploadAllowedExtensions" value="jpg,jpeg,png,gif,pdf" />
    <setting key="FileUploadMaximumFileSizeInBytes" value="5242880" />
    <setting key="UploadFolderPath" value="~/Content/uploads/" />
    <setting key="ChamberContext" value="ChamberContext" />

    <!--Avatar sizes-->
    <setting key="GravatarPostSize" value="50" />
    <setting key="GravatarTopicSize" value="50" />
    <setting key="GravatarProfileSize" value="85" />
    <setting key="GravatarLeaderboardSize" value="20" />
    <setting key="GravatarLikedBySize" value="20" />
    <setting key="GravatarFooterSize" value="30" />
    <setting key="GravatarLatestBySize" value="15" />

    <!--Paging Sizes-->
    <setting key="PagingGroupSize" value="10" />
    <setting key="AdminListPageSize" value="30" />
    <setting key="SearchListSize" value="2" />


    <!--Google-->
    <!--<setting key="GooglePlusAppId" value="" />
    <setting key="GooglePlusAppSecret" value="" />-->
  </settings>

  <types>
    <type name="StorageProviderType" value="Chamber.Web.Application.StorageProviders.DiskStorageProvider" />
  </types>
</project>