
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Chamber Board of Directors</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="about">
                <div id="about" class="about_us">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.Partial("_GenericMessage")
                            <h3>We are an awesome <span class="color">TEAM</span></h3>
                            <p>
                                The County Chamber of Commerce is a membership-driven business organization committed to promoting the business environment in the County.
                            </p><br />
                            <p>Leadership for the Chamber is provided by a Board of Directors. There are seven director positions, each of which also serves a functional role. The Board of Directors volunteer by dedicating time to help promote the Chamber and its members. The team operates from a virtual office environment (no physical structure) and there is no paid staff, which helps us keep our overhead costs and member dues to a minimum.</p>
                            <p>
                                The Chamber Board Members have over sixty years of combined business experience. The team meets monthly and works throughout the year to coordinate events, market the local area, and support local and potential industries in their effort to reach their growth goals.
                            </p>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-6 col-sm-12">
                                <img src="~/Content/img/CCcircle_1140x615.png">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h3 class="bold">OUR PROCESS</h3>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class=""><a aria-expanded="false" href="#design" aria-controls="design" role="tab" data-toggle="tab">RESOURCES</a></li>
                                    <li class="active"><a aria-expanded="true" href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">PROGRAMS</a></li>
                                    <li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">NETWORKING</a></li>
                                </ul>
                                <!-- tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" id="design">
                                        <p>Identify and examine small business issues and engaging the small businesses in the dialog to help service their needs.</p>
                                        <p></p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane active" id="mobile">
                                        <p>Inform and involve both business and government leaders to ensure the programs are visible and utilized to support business growth.</p>
                                        <p></p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="social">
                                        <p>Serve to bring to together members who work on the same industry sectors in an non-competitive environment to network, educate themselves and stay updated on important developments in their respective business sector.</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                @*<div class="row">
                        <div class="col-md-4">
                            <!-- Heading and para -->
                            <div class="block-heading-two">
                                <h3><span></span></h3>
                            </div>
                            <p>
                                The Chamber staff in place has over sixty years of combined experience in the Chamber of Commerce and economic development fields. The team works throughout the year to coordinate events, market the local area outside of the region, and support local and potential industries in their effort to reach their growth goals.<br /><br />
                                The Chamber of Commerce is lead by a six member Board of Directors consisting of business leaders in the community. The team works hard to lay out projects and goals for the next year, and celebrate award winning businesses chosen by a panel of their peers.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="block-heading-two">
                                <h3><span>Our Solution</span></h3>
                            </div>
                            <!-- Accordion starts -->
                            <div class="panel-group" id="accordion-alt3">
                                <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                                <div class="panel">
                                    <!-- Panel heading -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                                <i class="fa fa-angle-right"></i> Management
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne-alt3" class="panel-collapse collapse">
                                        <!-- Panel body -->
                                        <div class="panel-body">
                                            Our team consist of management expertise ranging from government, corporations, and small businesses.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                                <i class="fa fa-angle-right"></i> Business Strategy
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Chamber of Commerce works with business leaders and share information on improving local business success.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                                <i class="fa fa-angle-right"></i> Marketing
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Shop local campaign is one way Chamber will help promote your business
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                                <i class="fa fa-angle-right"></i> Technology
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour-alt3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Local business owners can work with Chamber on developing a online presence.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion ends -->

                        </div>

                        <div class="col-md-4">
                            <div class="block-heading-two">
                                <h3><span>Our Expertise</span></h3>
                            </div>
                            <h6>Management</h6>
                            <div class="progress pb-sm">
                                <!-- White color (progress-bar-white) -->
                                <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <h6>Business Strategy</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (success)</span>
                                </div>
                            </div>
                            <h6>Marketing</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (success)</span>
                                </div>
                            </div>
                            <h6>Technology</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                    <span class="sr-only">30% Complete (success)</span>
                                </div>
                            </div>
                        </div>

                    </div>*@


                <br>
                <!-- Our Team starts -->
                <!-- Heading -->
                <div class="block-heading-six">
                    <h3 class="bg-color"></h3>
                </div>
                <br>

                <!-- Our team starts -->

                <div class="team-six">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!-- Team Member -->
                            <div class="team-member">
                                <!-- Image -->
                                <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                <!-- Name -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#President">
                                    <h4>Jane Doe</h4>
                                </button><br />
                                <span class="deg" style="font-weight: 800;">President</span>
                                <!-- Button trigger modal -->

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!-- Team Member -->
                            <div class="team-member">
                                <!-- Image -->
                                <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                <!-- Name -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#VPresident">
                                    <h4>John Doe</h4>
                                </button><br />
                                <span class="deg" style="font-weight: 800;">Vice President</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!-- Team Member -->
                            <div class="team-member">
                                <!-- Image -->
                                <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                <!-- Name -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Treasurer">
                                    <h4>Dale Doe</h4>
                                </button><br />
                                <span class="deg" style="font-weight: 800;">Treasurer</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!-- Team Member -->
                            <div class="team-member">
                                <!-- Image -->
                                <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                <!-- Name -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Secretary">
                                    <h4>Lori Doe</h4>
                                </button><br />
                                <span class="deg" style="font-weight: 800;">Secretary</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-six">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                    <!-- Name -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Director">
                                        <h4>Sheila Doe</h4>
                                    </button><br />
                                    <span class="deg" style="font-weight: 800;">Director of Membership</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                    <!-- Name -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MarketingEvents">
                                        <h4>Frank Doe</h4>
                                    </button><br />
                                    <span class="deg" style="font-weight: 800;">Marketing/Events</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                    <!-- Name -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OnlineMarketing">
                                        <h4>Josh Doe</h4>
                                    </button><br />
                                    <span class="deg" style="font-weight: 800;">Online Marketing</span>
                                </div>
                            </div>

                            @*
                                <div class="col-md-3 col-sm-6">
                                    <!-- Team Member -->
                                    <div class="team-member">
                                        <!-- Image -->
                                        <img class="staff-images" src="~/Content/img/team/default_1630x2048.jpg" alt="">
                                        <!-- Name -->
                                        <h4>Kerinele rase</h4>
                                        <span class="deg">Manager</span>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <!-- Our team ends -->

                </div>
            </div>
        </div>
    </div>
</section>





<!-- Modal -->
<div class="modal fade" id="President" tabindex="-1" role="dialog" aria-labelledby="PresidentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Kathy Fulmer</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="VPresident" tabindex="-1" role="dialog" aria-labelledby="VPresidentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="VPresidentLabel">Sharon Haynes</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Treasurer" tabindex="-1" role="dialog" aria-labelledby="TreasurerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TreasurerLabel">Brandon Merced</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Secretary" tabindex="-1" role="dialog" aria-labelledby="SecretaryLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="SecretaryLabel">Lori Bullard</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Director" tabindex="-1" role="dialog" aria-labelledby="DirectorLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DirectorLabel">Sheila Ward</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MarketingEvents" tabindex="-1" role="dialog" aria-labelledby="MarketingEventsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MarketingEventsLabel">Christa Jennings</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OnlineMarketing" tabindex="-1" role="dialog" aria-labelledby="OnlineMarketingLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="OnlineMarketingLabel">Josh Yates</h4>
            </div>
            <div class="modal-body">
                <p>...profile goes here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>