
@{
    ViewBag.Title = "Chamber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">What is the Chamber</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container content">
        <!-- Service Blocks -->
        <div class="row">
            <div class="col-md-12">
                <article class="item column-1">
                    <!--  title/author -->
                    <header class="item_header">
                        <h3></h3>
                    </header>
                    <!-- Introtext -->
                    <div>
                        <p>
                            A chamber of commerce is a business network; a local organization of businesses whose goal is to further the interests of business. Business owners in towns, cities and counties form these local groups to advocate on behalf of the business community. Local businesses, community organizations, and individuals are members.<br /><br />
                            Chambers are non-governmental institutions. The County Chamber of Commerce is blessed to have overwhelming support from our government officials, but this organization is not a part of government. Chamber organizations have no direct role in the writing and passage of laws and regulations that affect business. They may, however, lobby in an attempt to get laws passed that are favorable to businesses.
                    </div>
                    <!-- info BOTTOM -->
                </article><!-- end item -->
            </div>
        </div>
        <br /><br />

        @*<hr class="margin-bottom-50">

            <div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/CourtHouse_830x550.jpg" alt="">
                    <h3>Court House</h3>
                    <p>...say something here</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="~/Content/img/Downtown_830x550.jpg" alt="">
                    <h3>Historic Downtown</h3>
                    <p>...say something here</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/Jail_830x550.jpg" alt="">
                    <h3>Jail</h3>
                    <p>...say something here.</p>
                </div>
            </div>*@


        <!-- Info Blcoks -->
        @*<div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-hdd-o"></i>
                    <div class="info-blocks-in">
                        <h3>Download Membership<br /> Form</h3>
                        <p>You have the option to download the form to fill out and return by mail or return to a Chamber member.</p>
                        <a href="@Url.Action("DownloadMembershipForm", "Members")" class="btn btn-default">Download Membership Form</a>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-bell-o"></i>
                    <div class="info-blocks-in">
                        <h3>Online Membership<br />Form<b> (coming soon)</b></h3>
                        <p>Sign up now through our Chamber app and begin your membership in only a few minutes.</p>
                        <a href="@Url.Action("UnderDevelopment", "Home")" class="btn btn-default">Online Membership Form</a>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-dollar"></i>
                    <div class="info-blocks-in">
                        <h3>Membership Fees <br /><b> (coming soon)</b></h3>
                        <p>Keep your membership active by paying through the Chamber app using Paypal.</p>
                        <a href="@Url.Action("UnderDevelopment", "Home")" class="btn btn-default">Pay Membership Fee</a>
                    </div>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
        <!-- Info Blcoks -->
        @*<div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-code"></i>
                    <div class="info-blocks-in">
                        <h3>SEO Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-compress"></i>
                    <div class="info-blocks-in">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-html5"></i>
                    <div class="info-blocks-in">
                        <h3>CSS3 + HTML5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
    </div>
</section>

