
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">County</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container content">
        <!-- Service Blocks -->
        <div class="row">
            <div class="col-md-12">
                <article class="item column-1">
                    <header class="item_header">
                        <h3></h3>
                    </header>
                    <!-- Introtext -->
                    <div>
                        <p>
                            &nbsp;
                        </p>
                    </div>
                    <!-- info BOTTOM -->
                </article><!-- end item -->
            </div>
        </div>


        <hr class="margin-bottom-50">

        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/CourtHouse_830x550.jpg" alt="">
                <h3>Courthouse</h3>
                <p>The County Courthouse is located in Rockford, which has been the county seat since 1835.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/Downtown_830x550.jpg" alt="">
                <h3>Historic Downtown</h3>
                <p>Downtown Rockford is often a quiet and peaceful area. Downtown includes Town Hall and current businesses, along with the old bank building and Crew's drugstore.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/Jail_830x550.jpg" alt="">
                <h3>Jail</h3>
                <p>The old rock jail in Rockford is the oldest rock jail in the state of Alabama. It now serves as a museum and is under the care of the Historical Society. Listed on the National Register of Historic Places, it was built in 1825.</p>
            </div>
        </div>
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/KellytonBaptist_830x550.jpg" alt="">
                <h3>Kellyton Baptist Church</h3>
                <p>This third building for Kellyton Baptist Church was constructed in 1949, with the church being organizaed in 1905.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/KellytonSign_830x550.jpg" alt="">
                <h3>Kellyton</h3>
                <p>The Town of Kellyton was reincorporated as a municipality in County, and as of the 2010 census had a population of 217. Kellyton is the hometown of retired professional football player Justin Tuck.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/RailroadTracks_830x550.jpg" alt="">
                <h3>History of Railroad</h3>
                <p>The railroad came to County in 1874, thanks to the Savannah & Memphis Railroad Company building a line from Opelika to Goodwater, with the railroad going through Kellyton. The Goodwater Railroad Depot followed suit, being constructed in 1875.</p>
            </div>
        </div>
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/MainSign_830x550.jpg" alt="">
                <h3>Rockford</h3>
                <p>Rockford has served as the seat of County since 1835, and Town Hall serves as a central hub for the community, housing the police department and library.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/River_830x550.jpg" alt="">
                <h3>Hatchet Creek</h3>
                <p>Hatchet Creek is one of the county's many natural resources, and one of the most popular, flowing from the northwest corner of the county down to where it enters the River at Mitchell Lake. The creek offers relaxation with canoeing, kayaking, and fishing, as well as the opportunity to see beautiful Cahaba lilies. The creek has been designated as a spur trail for the Alabama Scenic River Trail.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <img class="img-responsive" src="~/Content/img/SewerBoard_830x550.jpg" alt="">
                <h3>Sewer Board</h3>
                <p>In 1990, the Rockford Sewer Board installed these rather uncommon sewer covers throughout the town limits. The scenic scene depicted on them showcases the town's rural environment and adds to the community's charm.</p>
            </div>
        </div>
    </div>
</section>