
@{
    ViewBag.Title = "Join Chamber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Join Chamber</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container content">
        <!-- Service Blcoks -->
        <div class="row">
            <div class="col-md-12">
                <article class="item column-1">
                    <!--  title/author -->
                    <header class="item_header">
                        <h3>Become a member of Chamber</h3>
                    </header>
                    <!-- Introtext -->
                    <div>
                        <p>The Chamber connects businesses with consumers in order to help them succeed.  Our growing membership includes County businesses and the businesses of neighboring counties, covering a variety of business types and company sizes. In addition to businesses, our members also include many individuals and community organizations.  Joining the County Chamber will also give you exclusive tools to help set your business in motion.</p>
                        <ul class="item_list">
                            <li>Featured Business articles in The County News</li>
                            <li>Advertising on our website and Facebook page</li>
                            <li>Workshops and programs with attorneys, accountants, and other resources to help assist existing and new businesses</li>
                            <li>Networking opportunities throughout the year</li>
                            <li>Promotion of member businesses at local events</li>
                            <li>Other events to benefit the county and chamber members</li>
                        </ul>
                    </div>
                    <!-- info BOTTOM -->
                </article><!-- end item -->
            </div>
        </div>

        @*<div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="img/service1.jpg" alt="">
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="img/service2.jpg" alt="">
                    <h3>Mobile Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="img/service3.jpg" alt="">
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
            </div>*@
        <!-- End Service Blcoks -->

        <hr class="margin-bottom-50">

        <!-- Info Blcoks -->
        <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>Download Membership<br /> Form</h3>
                    <p>You have the option to download the form to fill out and return by mail or return to a Chamber member.</p>
                    <a href="@Url.Action("DownloadMembershipForm", "Members")" class="btn btn-default">Download Membership Form</a>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-bell-o"></i>
                <div class="info-blocks-in">
                    <h3>Online Membership<br />Form<b> (coming soon)</b></h3>
                    <p>Sign up now through our Chamber app and begin your membership in only a few minutes.</p>
                    <a href="@Url.Action("UnderDevelopment", "Home")" class="btn btn-default">Online Membership Form</a>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-dollar"></i>
                <div class="info-blocks-in">
                    <h3>Membership Fees <br /><b> (coming soon)</b></h3>
                    <p>Keep your membership active by paying through the Chamber app using Paypal.</p>
                    <a href="@Url.Action("UnderDevelopment", "Home")" class="btn btn-default">Pay Membership Fee</a>
                </div>
            </div>
        </div>
        <!-- End Info Blcoks -->
        <!-- Info Blcoks -->
        @*<div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-code"></i>
                    <div class="info-blocks-in">
                        <h3>SEO Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-compress"></i>
                    <div class="info-blocks-in">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-html5"></i>
                    <div class="info-blocks-in">
                        <h3>CSS3 + HTML5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
    </div>
</section>