
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Chamber Mission</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container content">
        <!-- Service Blcoks -->
        <div class="row">
            <div class="col-md-12">
                <article class="item column-1">
                    <!--  title/author -->
                    <header class="item_header">
                        <h3>The mission of the County Chamber of Commerce is:</h3>
                    </header>
                    <!-- Introtext -->
                    <div>
                        @*<p>The Chamber connects businesses with consumers in order to help them grow. Our membership is growing, representing businesses and neighboring busineses, which include all industry types and company sizes.  Joining the County Chamber will also give you exclusive tools to help set your business in motion.</p>*@
                        <ul class="item_list">
                            <li>To create an environment where existing businesses thrive and expand</li>
                            <li>To attract new businesses and people to the county</li>
                            <li>To enhance the overall quality of life for our residents</li>
                        </ul>
                    </div>
                    <br /><br /><br />
                    <!-- info BOTTOM -->
                </article><!-- end item -->
            </div>
        </div>

        @*<div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="img/service1.jpg" alt="">
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="img/service2.jpg" alt="">
                    <h3>Mobile Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="img/service3.jpg" alt="">
                    <h3>Responsive Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus</p>
                </div>
            </div>*@
        <!-- End Service Blcoks -->

        <hr class="margin-bottom-50">

        @*<div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/MainSign_830x550.jpg" alt="">
                    <h3>Location info</h3>
                    <p>...say something here, we can use different pictures....  :-)</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="~/Content/img/River_830x550.jpg" alt="">
                    <h3>River name, Hatchet Creek?</h3>
                    <p>...say something here</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/SewerBoard_830x550.jpg" alt="">
                    <h3>Sewer Board</h3>
                    <p>...say something here.</p>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
        <!-- Info Blcoks -->
        @*<div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-code"></i>
                    <div class="info-blocks-in">
                        <h3>SEO Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-compress"></i>
                    <div class="info-blocks-in">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-html5"></i>
                    <div class="info-blocks-in">
                        <h3>CSS3 + HTML5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
    </div>
</section>

