
@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Our Structure and Dates</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container content">
        <!-- Service Blocks -->
        <div class="row">
            <div class="col-md-12">
                <article class="item column-1">
                    <!--  title/author -->
                    <header class="item_header">
                        <h3></h3>
                    </header>
                    <!-- Introtext -->
                    <div>
                        <p>
                            The County Chamber of Commerce was established in August of 2015 as a corporation in the state of Alabama. We are a 501 (c)(6), which is the appropriate IRS code for chamber organizations. The Chamber operates under a set of approved bylaws that contain our rules and processes. We are members of the Chamber of Commerce Association of Alabama (CCAA).<br /><br />
                            Leadership for the Chamber is provided by a volunteer Board of Directors. The board operates from a virtual office environment (no physical structure) and there is no paid staff, which helps us keep our overhead costs and member dues to a minimum. Therefore, our dues go toward funding expenditures that more directly benefit our members.

                    </div>
                    <!-- info BOTTOM -->
                </article><!-- end item -->
            </div>
        </div>


        <hr class="margin-bottom-50">
        @*<div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/KellytonBaptist_830x550.jpg" alt="">
                    <h3>Kellyton Baptist Church</h3>
                    <p>...say something here, we can use different pictures....  :-)</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="~/Content/img/KellytonSign_830x550.jpg" alt="">
                    <h3>Kellyton Facts</h3>
                    <p>...say something here</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="~/Content/img/RailroadTracks_830x550.jpg" alt="">
                    <h3>History of Railroad</h3>
                    <p>...say something here.</p>
                </div>
            </div>*@
        <!-- Info Blcoks -->
        @*<div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-code"></i>
                    <div class="info-blocks-in">
                        <h3>SEO Ready</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-compress"></i>
                    <div class="info-blocks-in">
                        <h3>Fully Responsive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-html5"></i>
                    <div class="info-blocks-in">
                        <h3>CSS3 + HTML5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                    </div>
                </div>
            </div>*@
        <!-- End Info Blcoks -->
    </div>
</section>



