
@{
    ViewBag.Title = "Under Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle"><span style="font-weight: 800">Development in process.....</span></h2>
            </div>
        </div>
    </div>
</section>
<br />


<div class="row">
    <div class="col-sm-12">
        <img style="padding-left: 200px;" src="~/Content/images/underDev.jpg" />
    </div>
</div>